@import "tailwindcss";

:root {
  --background: #000;
  --foreground: #fff;

  /* Required for disabling overscroll on Safari*/
  overscroll-behavior: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-plex-mono);

  /* Required for disabling overscroll on Chrome */
  overscroll-behavior-y: none;

  height: 100vh;
  height: 100dvh;
  max-height: 100vh;
  max-height: 100dvh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
  box-sizing: content-box;

  display: grid;
  grid-template-rows: auto 1fr auto auto;
}

.company::-webkit-scrollbar {
  display: none;
  /* opacity: 20%; */
  /* height: 16px; */
  /* opacity: 0; */
}

.company {
  gap: 0px 24px;
  margin: 0px -20px;
  padding: 0px 20px;
  /* padding-bottom: 8px; */

  /* position: relative; */
  overflow-x: auto;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
}

.scrollbar {
  pointer-events: none;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  height: 2px;
  display: flex;
  align-items: center;
}

.scrollbar .thumb {
  height: 100%;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 10px 4px rgba(255, 255, 255, 0.4);
}

.team {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  gap: 20px 0px;
}

.team-name {
  left: 0;
  position: sticky;
  width: max-content;
}

.team-members {
  white-space: nowrap;
  line-height: 0;
}

.headshot {
  width: auto;
  height: 100%;
  min-height: 0;
  aspect-ratio: 2/3;
  display: inline-block;
  position: relative;

  /* background-color: burlywood; */
  background-size: cover;
  background-position: center;
  background-position-y: -24px;
}

.headshot + .headshot {
  margin-left: 24px;
}

.headshot > img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.socials {
  line-height: normal;
  padding: 12px 1px 16px;
  background-color: black;
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 0px;
  left: -1px;
  right: -1px;
  overflow: hidden;
}
